<!DOCTYPE html>
    <html>
<style>
    table,td{
        border: 1px solid greenyellow;
        border-collapse: collapse;
        padding: 5px;
    }

</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="jugadorCtrl">
    <p>Escoge un nombre a consultar:</p>
    <p><input type="text" ng-model="liga"></p>


    <table>
        <tr>
            <td style="background-color: #00b3ee">{{"Nombre Jugador"}}</td>
            <td style="background-color: #00b3ee">{{"Nacimiento"}}</td>
            <td style="background-color: #00b3ee">{{"Canastas"}}</td>
            <td style="background-color: #00b3ee">{{"Rebotes"}}</td>
            <td style="background-color: #00b3ee">{{"Asistencias"}}</td>
            <td style="background-color: #00b3ee">{{"Posicion"}}</td>

        </tr>
        <tr ng-repeat="x in jugadores | filter:liga">

            <td ng-if="$odd" style="background-color: #edefff">{{x.nombre}}</td>
            <td ng-if="$even">{{x.nombre}}</td>

            <td ng-if="$odd" style="background-color:#e0FF0E">{{x.fechaNacimiento}}</td>
            <td ng-if="$even">{{x.fechaNacimiento}}</td>


            <td ng-if="$odd" style="background-color: #ffc996">{{x.canastasTotales}}</td>
            <td ng-if="$even">{{x.canastasTotales}}</td>

            <td ng-if="$odd" style="background-color: rgba(175, 122, 169, 0.62)">{{x.rebotesTotales}}</td>
            <td ng-if="$even">{{x.rebotesTotales}}</td>

            <td ng-if="$odd" style="background-color: rgba(224, 197, 244, 0.62)">{{x.asistenciasTotales}}</td>
            <td ng-if="$even">{{x.asistenciasTotales}}</td>


            <td ng-if="$odd" style="background-color: rgba(224, 197, 244, 0.62)">{{x.posicionCampo}}</td>
            <td ng-if="$even">{{x.posicionCampo}}</td>

        </tr>
    </table>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('jugadorCtrl', function($scope, $http) {
        $http.get("api/jugadors").then(function (response) {
            $scope.jugadores = response.data;
        });
    });

</script>
</body>
</html>
